section.client-logo {
  position: relative;
  padding: 90px 0;
  border-top: 1px solid #e9e1db;
  margin-top: 100px;
  user-select: none;
}

section.client-logo img {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

section.client-logo img:hover {
  opacity: 1;
}

section.client-logo .image {
  text-align: center;
}