.main-header {
  position: relative;
  display: block;
  width: 100%;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background: none;
  clear: both;
}

.main-header.header-style-one .auto-container {
  max-width: 100%;
  padding: 0 40px;
}

/* Header Top */
.header-top {
  position: relative;
  background-color: #454456;
  padding: 8.5px 0;
}

.header-top .inner-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-top .left-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-top ul.contact-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top ul.contact-info li {
  margin-right: 22px;
  font-weight: 400;
  position: relative;
  padding-right: 20px;
  font-size: 14px;
  color: #aaa9b5;
}

.header-top ul.contact-info li:before {
  position: absolute;
  content: "";
  top: 1px;
  right: 0;
  width: 1px;
  height: 20px;
}

.header-top ul.contact-info li:last-child:before {
  display: none;
}

.header-top ul.contact-info a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #aaa9b5;
}

.header-top ul.contact-info a:hover {
  color: var(--theme-color);
}

.header-top ul.contact-info li i {
  margin-right: 7px;
  font-size: 15px;
  vertical-align: middle;
  position: relative;
  top: 3px;
  color: var(--theme-color);
}

/* Header Upper */

.main-header .header-upper .navbar-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
  border-left: 1px solid #fff;
  padding-left: 25px;
}

.main-header .header-upper {
  position: relative;
}

.main-header .header-upper .inner-container {
  position: relative;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header .header-upper .logo-box {
  z-index: 10;
}

.main-header .header-upper .logo-box .logo {
  position: relative;
  display: block;
  padding: 23px 0px;
}

.main-header .header-upper .logo-box .logo {
  width: 115px;
}

.main-header .header-upper .left-column,
.main-header .header-upper .right-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .nav-outer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-right-info .mobile-nav-toggler {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.main-header .nav-outer .main-menu {
  position: relative;
}

.main-menu .navbar-collapse {
  padding: 0px;
  display: block !important;
}

.main-menu .navigation {
  position: relative;
  margin: 0px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-menu .navigation>li {
  position: relative;
  padding: 38.5px 0px;
  margin-right: 35px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation>li.current:before {
  opacity: 1;
}

.main-menu .navigation>li.current>a:before {
  opacity: 1;
}

.main-menu .navigation>li:last-child {
  margin-right: 0px;
}

.main-menu .navigation>li>a {
  position: relative;
  display: block;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  opacity: 1;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 16px;
  color: #454456;
  font-weight: 400;
}

.main-menu .navigation>li>ul {
  position: absolute;
  left: 0px;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 200px;
  z-index: 100;
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li>ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation>li>ul>li {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.main-menu .navigation>li>ul>li:last-child {
  border-bottom: none;
}

.main-menu .navigation>li>ul>li:before {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  width: 0%;
  height: 100%;
  display: block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu .navigation>li>ul>li>a {
  position: relative;
  display: block;
  padding: 14px 0px;
  border-bottom: 1px solid #e9e5df;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  font-size: 16px;
  color: #454456;
  font-weight: 400;
}

.main-menu .navigation>li>ul>li>a:hover {
  color: var(--theme-color);
}

.main-menu .navigation>li>ul>li:last-child>a {
  border-bottom: 0px;
}

.main-menu .navigation>li>ul>li.dropdown>a:after {
  position: absolute;
  content: "\f105";
  right: 0;
  top: 11px;
  display: block;
  line-height: 24px;
  font-size: 17px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

.main-menu .navigation>li.dropdown:hover>ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu .navigation li>ul>li.dropdown:hover>ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-header .header-upper .contact-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #eee;
  margin-left: 20px;
}

/*** 

====================================================================
                Sticky Header
====================================================================

***/

.sticky-header {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  z-index: -1;
  background: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: top 300ms ease;
  -o-transition: top 300ms ease;
  transition: top 300ms ease;
}

.fixed-header .sticky-header {
  opacity: 1;
  z-index: 99901;
  visibility: visible;
  background: #fff;
}

/*** 

====================================================================
            Mobile Menu
====================================================================

***/

.nav-outer .mobile-nav-toggler {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  float: right;
  margin: 13px 0;
  margin-left: 15px;
  display: none;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right: 30px;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.mobile-menu .mCSB_scrollTools {
  right: -6px;
}

.mobile-menu .mCSB_inside>.mCSB_container {
  margin-right: 5px;
}

.mobile-menu .navbar-collapse {
  display: block !important;
}

.mobile-menu .nav-logo {
  position: relative;
  padding: 30px 25px;
  text-align: left;
  margin-bottom: 100px;
  margin-top: 25px;
}

.mobile-menu-visible {
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  background-color: #000;
}

.mobile-menu-visible .mobile-menu .menu-backdrop {
  opacity: 0.3;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .menu-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #202020;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.mobile-menu .navigation {
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation li {
  position: relative;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation li>ul>li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation li>a {
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mobile-menu .navigation li ul li>a {
  font-size: 15px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li>a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mobile-menu .navigation li.current>a:before {
  height: 100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 5;
}

.mobile-menu .navigation li.dropdown.open .dropdown-btn {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mobile-menu .navigation li.dropdown.open ul {
  display: block;
}

.mobile-menu .navigation li>ul,
.mobile-menu .navigation li>ul>li>ul {
  display: none;
}

.mobile-menu .social-links {
  position: relative;
  text-align: center;
  padding: 30px 25px;
}

.mobile-menu .social-links li {
  position: relative;
  display: inline-block;
  margin: 0px 10px 10px;
}

.mobile-menu .social-links li a {
  position: relative;
  line-height: 32px;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* Hidden Bar */

.hidden-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 99999;
  width: 100%;
  max-width: 446px;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  direction: rtl;
}

.hidden-sidebar-close {
  position: absolute;
  bottom: 0;
  right: -70px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}

.hidden-sidebar .logo {
  margin-bottom: 35px;
}

.hidden-sidebar .wrapper-box {
  height: 100%;
}

.hidden-sidebar .content-wrapper {
  padding: 80px 30px;
  margin-right: 70px;
  direction: ltr;
  position: relative;
}

.hidden-sidebar .sidebar-widget {
  margin-bottom: 35px;
  padding: 0;
  background-color: transparent;
}

.hidden-sidebar .text-widget .text {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0;
}

.pdf-widget {
  position: relative;
}

.pdf-widget .row {
  margin: 0 -7.5px;
}

.pdf-widget .column {
  padding: 0 7.5px;
}

.pdf-widget .content {
  background-color: rgb(255 255 255 / 96%);
  text-align: center;
  padding: 30px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.pdf-widget .content .icon {
  margin-bottom: 15px;
}

.pdf-widget .content h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-widget {
  position: relative;
  margin-bottom: 30px;
}

.contact-widget .icon-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-widget .icon {
  width: 35px;
  font-size: 18px;
  margin-top: 5px;
  color: #fff;
}

.contact-widget .text {
  font-size: 17px;
  line-height: 44px;
  font-weight: 400;
  color: #b3b3b3;
}

.contact-widget .text a {
  color: #ffffff;
}

.contact-widget .text strong {
  color: #fff;
  font-weight: 700;
  display: block;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  display: none;
  background: rgba(20, 20, 20, 0.7);
  overflow: hidden;
  cursor: none;
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  display: none;
}

/* header style two */

header.main-header.header-style-two {
  position: absolute;
}

.header-top-two {
  position: relative;
}

.header-top-two .inner-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 10px;
}

.header-top-two .inner-container {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.header-top-two_contact-info {
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
}

.header-top-two_contact-info-icon {
  position: absolute;
  top: 8px;
  left: 0;
  color: var(--theme-color);
  font-size: 35px;
}

.header-top-two_mail-title {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "DM Sans";
  margin-bottom: 0;
}

.header-top-two-mail {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Crimson Text";
}

.header-top-two .logo-box {
  margin-bottom: 30px;
}

.header-top-two_phone-title {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "DM Sans";
  margin-bottom: 0;
}

.header-top-two-mail a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-top-two-mail a:hover {
  color: var(--theme-color);
}

.header-top-two-phone {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Crimson Text";
}

.header-top-two-phone a {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-top-two-phone a:hover {
  color: var(--theme-color);
}

.main-header.header-style-two .nav-outer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.main-header.header-style-two .main-menu .navigation>li>a {
  color: #fff;
}

.main-header.header-style-two .main-menu .navigation>li {
  padding: 15px 0;
}

.header-style-two .sticky-header {
  background: #222;
}

.logo-home {
  width: 80px;
}

.sticky-logo-home {
  width: 60px;
}

@media only screen and (max-width: 1480px) {
  .main-header .header-upper .contact-info {
    display: none;
  }
}

@media only screen and (max-width: 1139px) {

  .main-header .nav-outer .main-menu,
  .sticky-header {
    display: none !important;
  }

  .nav-outer .mobile-nav-toggler {
    display: block;
  }

  .main-header.header-style-two .header-upper .inner-container:before {
    display: none;
  }

  .main-header.header-style-two .header-upper .inner-container {
    padding: 0;
  }

  .main-header .header-upper .left-column,
  .main-header .header-upper .right-column {
    width: 100%;
    justify-content: space-between;
  }

  .header-top-two .logo-box,
  .main-header .header-upper .navbar-right {
    display: none;
  }

  .main-header .header-upper .logo-box {
    display: block !important;
  }

  .main-header.header-style-two .nav-outer {
    width: auto;
  }

  .main-header.header-style-one .auto-container {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 991px) {
  .header-top-two {
    display: none;
  }

  .header-top .social-icon {
    display: none;
  }

  .header-top ul.contact-info li {
    text-align: center;
    width: 100%;
  }

}

@media only screen and (min-width: 768px) {

  .main-menu .navigation>li>ul,
  .main-menu .navigation>li>ul>li>ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-header .header-upper .navbar-right {
    display: none;
  }

  .header-top {
    display: none;
  }
}

/* Animation */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}